body {
    background-color: #E5E5E5;
}
.privacy-title {
    background-image: url(../assets/terms-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0;
}
.privacy-title h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
}
.privacy-title p {
    text-align: center;
}
p {
    padding: 10px 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5em;
}
.privacy-condition {
    margin: 10px 10%;
    background-color: white;
    padding: 5%;
}

.privacy-condition h3, .privacy-condition h4 {
    padding: 10px 0;
}
.privacy-condition ul {
    padding: 0 0 0 5%;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
}
.privacy-condition li {
    padding: 10px 0;
}